:root{
    --cor-primaria: #4f46e5;
    --cor-primaria-hover: #4338ca;
    --cor-secundaria: #22c55e;
    --cor-fundo: #f8fafc;
    --cor-texto: #1e293b;
    --cor-card: #ffff;
    --cor-tag: #e0e7ff;

    --espaco-pequeno: 0.5rem;
    --espaco-medio: 1rem;
    --espaco-grande: 1.5rem;
    --espaco-extra: 2rem;
}

botton{
    background-color: var(--cor-fundo);
    color: #ffff;
}